<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
      <title>井盖识别</title>
<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='style_.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='material-icons.css') }}" rel="stylesheet">
<link rel="icon" href='../static/cover.jpeg'>
</head>

<body>
  <div class="container">
    <aside>
      <div class="top">
        <div class="logo">
          <h1><span class="title">井盖识别</span></h1>
        </div>
        <div class="close" id="close-btn">
          <span class="material-icons-sharp">close</span>
        </div>
      </div>
      <div class="sidebar">
        <a href="index.html">
          <span class="material-icons-sharp">inventory</span>
          <h3>开始检测</h3>
        </a>
        <a href="detections.html">
          <span class="material-icons-sharp">grid_view</span>
          <h3>批量检测</h3>
        </a>
        <a href="analysis.html" id="analysis">
          <span class="material-icons-sharp">insights</span>
          <h3>检测结果分析</h3>
        </a>
        <a href="intro.html">
          <span class="material-icons-sharp">mail_outline</span>
          <h3>网站使用说明</h3>
          <span class="message-count" style="color: white">!</span>
        </a>
        <a href="set_up.html" id="set_up">
          <span class="material-icons-sharp">settings</span>
          <h3>设置</h3>
        </a>
        <a href="#" class="active">
          <span class="material-icons-sharp">person_outline</span>
          <h3>用户</h3>
        </a>
        <a href="#">
          <span class="material-icons-sharp">inventory</span>
          <h3>项目</h3>
        </a>
        <a href="#">
          <span class="material-icons-sharp">report_gmailerrorred</span>
          <h3>报告</h3>
        </a>

        <a href="#">
          <span class="material-icons-sharp">add</span>
          <h3>添加项目</h3>
          </h3>
        </a>
        <a href="choose.html">
          <span class="material-icons-sharp">logout</span>
          <h3>退出登陆</h3>
        </a>
      </div>
    </aside>
    <main>


      <!-- End of insights -->
    </main>
    <!-- End of main -->
    <div class="right">
      <div class="top">
        <button id="menu-btn">
          <span class="material-icons-sharp">menu</span>
        </button>
        <div class="theme-toggler">
          <span class="material-icons-sharp active">light_mode</span>
          <span class="material-icons-sharp">dark_mode</span>
        </div>
        <div class="profile">
          <div class="info">
              <P><b>welcome</b> to</P>
            <small class="text-muted">our platform</small>
          </div>
          <div class="profile-photo">
              <img src="../static/favicon.ico.jpeg">
          </div>
        </div>
      </div>
      <!-- End of top -->


    </div>
  </div>
  <script src="../static/index.js"></script>
<script>
  const identity = sessionStorage.getItem("identity");
  console.log(identity)
  if (identity === "manager") {

  } else if (identity === "repairman") {
    document.getElementById("analysis").style.display = "none";
    document.getElementById("set_up").style.display = "none";

  }
</script>
</body>

</html>